@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



header{
    margin: 47px 36px 0 42px
}   

.links{
    margin-right: 32px;
    color:#17233D;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.875px;
    cursor: pointer;
}

.button-header{
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 124px;
    height: 51px;
    border-radius: 6px;
    background:#6FBF44;
    border: 1px solid #4CB538;
    cursor: pointer;
}

img{
    display: inline-block;
    width: 533px;
    height: 467px;
    margin-top: 163px;
    margin-left:161.18px;
}
.text-section{
    display: inline-block;
    margin-left: 96.86px;
}

h1{
    width: 582px;
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
}

p{
    width: 493px;
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin: 45px 146px 55px 0;
}

.button-section{
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}